 section{
    background-color: #051540;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

.hero {
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.hero-text {
  margin-top: 80px;
}

.buttons {
  margin-top: 40px;
}

.explore-btn {
  padding: 7px 10px;
  background-color: #164BAF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.explore-btn:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

.explore-btn:active {
  opacity: 0.5;
}

.contact-btn {
  padding: 7px 17px;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}

.contact-btn:hover {
  opacity: 0.5;
  transition: 0.3s ease;
}

.contact-btn:active {
  opacity: 0.3;
}

.hero-image {
  width: 450px;
  height: 420px;
  margin-left: 200px;
}