 *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body{
      background:#111;
      display:flex;
      justify-content:center;
      align-items:center;
      min-height:100vh;
      padding:20px;
    }

    .hero{
      width:1100px;
      background:#031B67;
      border-radius:8px;
      padding:60px 70px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      overflow:hidden;
    }

    .left-content{
      max-width:500px;
      color:white;
    }

    .logo{
      display:flex;
      align-items:center;
      gap:8px;
      margin-bottom:50px;
    }

    .logo img{
      width:45px;
    }

    .logo h3{
      font-size:22px;
      font-weight:bold;
    }

    .logo span{
      font-size:12px;
      opacity:0.7;
    }

    .left-content h1{
      font-size:56px;
      line-height:1.1;
      margin-bottom:25px;
      font-weight:700;
    }

    .left-content p{
      color:#d8d8d8;
      line-height:1.8;
      font-size:17px;
      margin-bottom:35px;
    }

    .buttons{
      display:flex;
      gap:15px;
    }

    .btn{
      padding:14px 28px;
      color:white;
      width:200px;
      border-radius:8px;
      border:none;
      font-size:16px;
      cursor:pointer;
      transition:0.3s ease;
    }

    .primary-btn{
      background:#2F6BFF;
      color:white;
    }

    .primary-btn:hover{
      background:#4b80ff;
    }

    .secondary-btn{
      background:transparent;
      border:1px solid rgba(255,255,255,0.4);
      color:white;
    }

    .secondary-btn:hover{
      background:rgba(255,255,255,0.1);
    }

    .planet-container{
      position:relative;
    }

    .planet{
      width:420px;
      height:420px;
      border-radius:50%;
      object-fit:cover;
      box-shadow:0 0 60px rgba(0,140,255,0.6);
      animation:float 4s ease-in-out infinite;
    }

    @keyframes float{
      0%{
        transform:translateY(0px);
      }
      50%{
        transform:translateY(-15px);
      }
      100%{
        transform:translateY(0px);
      }
    }

    /* RESPONSIVE */
    @media(max-width:950px){
      .hero{
        flex-direction:column;
        text-align:center;
        gap:50px;
      }

      .buttons{
        justify-content:center;
      }

      .left-content h1{
        font-size:42px;
      }

      .planet{
        width:300px;
        height:300px;
      }
    }
