* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
  .wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 16px;
}
.wrapper h1{
  font-size: 120%;
  color: #164BAF;
  margin-bottom: 15px;
}
.wrapper p:nth-of-type(1){
  font-size: 80%;
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
}
.wrapper p:nth-of-type(2){
  font-size: 80%;
  margin-bottom: 10px;
}
.planet-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 16px;
}

.planet-table th {
  background: #1f4fb4;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 18px;
  font-size: 80%;
  border: 1px solid #ffffff;
}

.planet-table td {
  text-align: center;
  padding: 28px 18px;
  border: 1px solid #e8e8e8;
  background: #d8dde6;
  color: #222;
  font-size: 70%;
}

.group {
  background: #c0cfe8 !important;
  font-weight: 700;
}

.planet-table thead th:first-child {
  border-top-left-radius: 16px;
}

.planet-table thead th:last-child {
  border-top-right-radius: 16px;
}

.planet-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px;
}

.planet-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px;
}